body {
    background-color: whitesmoke;
    text-align: left;
}

.formLogin {
    height: 400px;
    width: 300px;
    border: 1px red solid;
}

input {
    padding: 3px;
    border: aliceblue 1px solid;
    margin: 3px;
}